CompileFlags:
  CompilationDatabase: build/Debug
  Add:
    - --target=arm-none-eabi
  Remove:
    - -mcpu=*
    - -mfpu=*
    - -mfloat-abi=*
    - -mthumb
    - --specs=*

Diagnostics:
  UnusedIncludes: None
  Suppress:
    - drv_unknown_argument
